// 引用 var.scss
// _告訴scss 不要編譯 
@import 'var';
@import 'layout/header';
@import 'layout/footer';
@import 'page/index';
@import 'page/about';



body {
    $bgc: #eee;
    $a: 10px; //  區域變數
    background-color: $bgc; //取到區域變數值
    color: $color;
    padding: null; // 屬性刪除
    margin: $margin;
    border-color: map-get($map, 'red');
}

// 取不到區域變數的值
a {
    //font-size: $a;
    font-size: $fontSize;
}


.wrapper {

    h1 {
        font-size: 30px;

        .title {
            font-size: 12px;
            display: inline-block;
        }
    }

    span {
        font-size: 20px;
    }
}



//about 


//偽元素
a {
    color: #333;

    &:hover {
        color: #eee
    }

    &::before {
        content: '';
    }
}

// 運算 
// 單位相同才能運算
.test {
    width: 1 + 100px;
    height: 10 - 100px; // 負值 
    margin: 10 * 10px; //單位
    font: (100 / 10) + px // 要注意的是 unit and () 
}

// 運算的函式
.test1 {
    width: floor(150.56) + px; //無條件捨去
    height: ceil(150.56) + px; // 無條件進位
    font-size: round(15.56) + px; // 四捨五入
}

//  顏色函式
.color {
    color: lighten(#000000, 90); // 顏色變深
    background-color: darken(#fff, 50) //顏色變淺
}

//顏色函式範例運用
$a_color : #f20;


a {
    color: $a_color;
    font-size: 30px;
    transition: .2s all ease;

    &:hover {
        color: darken($a_color, 30);
        font-size: 35px;
    }
}

// 按鈕範例
$btn_bg: #333;

.btn {
    color: #fff;
    text-align: center;
    background-color: $btn_bg;
    max-width: 80px;
    padding: 10px 30px;
    cursor: pointer;
    transition: .1s all ease;

    //hover過去的效果
    &:hover {
        background-color: darken($btn_bg, 20);
    }
}

// 運算函式範例 h1 ~ h5

$body_font : 16px;

h1 {
    font-size: round($body_font * 4)
}

h2 {
    font-size: round($body_font * 3.5)
}

h3 {
    font-size: round($body_font * 3)
}

h4 {
    font-size: round($body_font * 2)
}

h5 {
    font-size: round($body_font * 1)
}


// 判斷式 if else


$con : false;

.if {
    @if ($con) {
        //條件成立
        width: 100px;
    }

    @else {
        //條件不成立
        width: initial;
    }
}


// ================== 函式 ============================ 

//$minHeight 區域變數 只在作用域內可以取得　
@mixin center($minHeight:null) {
    margin-left: auto;
    margin-right: auto;
    min-height: $minHeight;
}


.center {
    //引用  
    @include center(200px)
}

.layout {
    // 引用
    width: 1200px;
    @include center(100px);
}

// ＬＡＹＯＵＴ範例
@mixin layout($width, $bgc : null) {

    // if layout
    @if ($width==100) {
        width: 100%;
    }

    @else {
        max-width: $width + px;
        width: 100%;
        //引用其他的函式
        @include center()
    }

    // background-color
    background-color:$bgc
}

.w100 {
    @include layout(100, #f29);
    min-height: 300px;
}

.w1200 {
    @include layout(1200, #f30);
    min-height: 300px;

}


@mixin btn($btn_bg, $width:null) {
    color: #fff;
    text-align: center;
    background-color: $btn_bg;
    max-width: $width;
    padding: 10px 30px;
    cursor: pointer;
    transition: .4s all ease;

    //hover過去的效果
    &:hover {
        background-color: darken($btn_bg, 20);
    }

}

.btn_large {
  @include btn(#333 , 200px);
}

.btn_default {
    @include btn(#f29 , 120px);
  }

  .btn_small {
    @include btn(#333 , 60px);
  }